$ancho: 500px;

.bodyContacto {
    background-image: url(../multimedia/img_mostris/fondoContacto.png);
    background-repeat: no-repeat;
}

.tituloContacto {
    text-align: center;
    background-image: linear-gradient(to right, $lila, $claro, $celeste);
    padding: 2vh 2vw;
    margin: 5vh;
}

.comoPedir {
    margin: 3vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;

    .comoPedir__box {
        background-color: rgb(255, 255, 255);
        padding: 30px;
        width: 50%;
        text-align: center;
        box-shadow: 7px 7px 15px #00000091;
        height: 100%;

        p {
            font-family: alkinions;
        }

    }
}

.formulario_padre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;

    .formulario_hijo {
        margin: 50px;
        margin: auto;
        box-shadow: 0 0 15px 0 grey;

        h3 {
            text-align: center;
        }

        .formularioBox {
            background-image: linear-gradient(to bottom, $rosa, $claro, $celeste);
            text-align: center;
            font-family: alKinions;
            text-transform: uppercase;
            padding: 3vh 3vw;

            input {
                background-color: $lila;
                color: $blanco;
                border: 4px solid $lila;
                color: $negro;
            }

            input:hover {
                background-color: #cac6d6;
                color: $blanco;
                border: 4px solid $lila;
                color: $negro;
            }
        }
    }
}



.backgroundOperaciones {
    background-image: url(../multimedia/img_mostris/fondoMostris.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .operaciones {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .img1 {
            width: $ancho/2;
        }

        .img2 {
            width: $ancho;
        }
    }
}