.bodyGaleria {
    background-image: url(../multimedia/img_mostris/fondoGaleria.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .boxGaleria {
        margin: 2rem;

        img {
            width: 100%;
            height: 100%;
            box-shadow: 7px 7px 15px #00000091;
            border: 30px solid rgba(255, 255, 255, 0.164);
        }
    }
}

.boxGaleria img:hover {
    transform: scale(1.1)
}