* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-family: alkinions;
}

p {
    font-family: 'Dosis', cursive;
    line-height: 2rem;
    font-size: 20px;
}

/* variables */
$turquesa: #8fcac4;
$rosa: #dcb4bc;
$rosaclaro: #fbdbd3;
$lila: #b4accb;
$celeste: #a2c9c9;
$claro: #f4ecd4;
$marron: #ccbc85;
$blanco: #ffffff;
$negro: #000000;
$transparente: #ffffff3b;
$sombra:#00000091