.bodyJuegos {
    background-image: url(../img/fondoJuegos.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: alkinions;
    text-align: center;

    .boxTitulo__padre {
        display: flex;
        justify-content: center;

        .boxTitulo__hijo {
            background-color: $transparente;
            box-shadow: 7px 7px 15px #00000091;
            margin: 2%;
            width: 75%;
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                height: 100%;
            }

            a {
                color: black;
            }
        }
    }

    .juegos__box {
        box-shadow: 7px 7px 15px #00000091;
        width: 300px;
        display: flex;
        flex-direction: column;
        background-color: $transparente;
        justify-content: center;
        align-items: center;
        margin: 30px;
        transition: transform .2s;
        text-transform: uppercase;


        .juegos__box:hover {
            transform: scale(1.1)
        }

        img {
            width: 250px;
            height: 250px;
            margin: 20px 20px;
            border-style: inset;
        }

        .botonJuegos {
            background-color: #fde9a7;
            border: 2px solid $marron;
            margin: 2%;
            text-transform: uppercase;
            margin-bottom: 5%;

            a {
                color: $negro;
            }
        }

        .botonJuegos:hover {
            background-color: #cac6d6;
            border: 2px solid $lila;
        }

    }
}