@media only screen and (max-width:650px) {
    .comoPedir {
        display: flex;
        flex-direction: column;

        .comoPedir__box {
            margin: 3%;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 756px) {
    footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .textoFooter {
        margin: 3%;
    }
}

@media only screen and (min-width:768px) {
    #formulario {
        margin: 10vw;
    }
}

@media only screen and (max-width: 778px) {
    .boxInfo__mostris {
        width: 100%;
    }

    #categoriasJuegos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        .infoJuegos {
            margin: 3%;
            width: 100%;
        }
    }
}

@media only screen and (max-width:900px) {
    .backgroundOperaciones {
        display: none;
    }
}

@media screen and (min-width: 990px) {
    .boxNav {
        display: flex;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 1140px) {
    .boxTitulo__hijo img {
        display: none;
    }

    .boxTitulo__titulo {
        padding: 5%;
    }
}

@media only screen and (max-width:1160px) {
    .comoPedir {
        display: flex;
        flex-direction: column;

        .comoPedir__box {
            margin: 3%;
        }
    }
}

@media only screen and (max-width: 1280px) {
    #boxInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        .boxInfo__mostris {
            margin: 3%;
        }
    }

    #categoriasJuegos {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 5%;
        grid-column-gap: 5%;
    }
}

@media only screen and (max-width: 1300px) {
    .videoInicio video {
        display: none;
    }
}