.logo {
    width: 50%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.boxNav {
    @media screen and (min-width: 990px) {
        display: flex;
        justify-content: flex-end;
    }

    ul {
        margin-right: 3vw;
    
        li a {
            box-shadow: 7px 7px 15px #00000091;
            padding: 10px;
            background-color: rgb(228, 193, 248);
            transition: transform .2s;
            margin: 1vw;
            font-family: alkinions;
        }
    }
}